@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ECECEC;
  --background-dark: #2B252E;
}

body {
  color: var(--foreground);
  background: var(--background-dark);
}
